* {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  box-sizing: border-box;
}

body {
  font-family: 'Architects Daughter'; 
  background-color: black;
  height: 100vh;
  margin-left: 65%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: url(img/BG.png);
  background-size: cover;
}

.container {
  position: relative;
  width: 300px;
  height: 500px;
  background: white;
  padding: 30px 40px;
}

header {
  font-family: 'Architects Daughter';
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.inputs,
form .button {
  margin: 17px 0;
  position: relative;
  height: 40px;
  width: 100%;
}

.inputs input {
  height: 100%;
  width: 100%;
  border: 1px solid silver;
  padding-left: 15px;
  outline: none;
  font-size: 18px;
  transition: .4s;
  font-family: 'Architects Daughter';
}

input:focus { 
  border: 2px solid black;
}

.inputs label,
span.show {
  position: absolute;
  top: 40%;
  transform: translateY(-30%);
}

.inputs label {
  left: 15px;
  pointer-events: none;
  color: grey;
  font-size: 14px;
  transition: .4s;
}

span.show {
  right: 10px;
  color:red;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  visibility: hidden;
}

input:valid ~ span.show {
  visibility: visible;
}

input:focus ~ label,
input:valid ~ label {
  transform: translateY(-33px);
  background: white;
  font-size: 20px;
  color: black;
}

form .button {
  margin-top: 20px;
  overflow: hidden;
  z-index: 111;
}

.button .inner {
  position: absolute;
  height: 100%;
  width: 300%;
  left: -100%;
  z-index: -1;
  transition: all .4s;
  background: -webkit-linear-gradient(right,aliceblue,white,aliceblue,white);
}

.button:hover .inner {
  left: 0%;
}

.button button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.container .auth {
  margin: 20px 0 10px 0;
  font-size: 19px;
  color: grey;
  padding-top: 20px;
  padding-bottom: 20px;
}

.links {
  display: flex;
  cursor: pointer;
}

.facebook,
.google {
  height: 20px;
  width: 100%;
  border: none;
  transition: .4s;
}

.facebook {
  padding-left: 10px;
}

.google {
padding-left: 50px;
}

i{
  font-family: 'FontAwesome';
}

.facebook i,
.facebook span {
  color: #4267B2;
}

.google i,
.google span {
  color: #dd4b39;
}

.links i {
  font-size: 23px;
  line-height: 40px;
  margin-left: -90px;
}

.links span {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  padding-left: 8px;
}

.signup {
  margin-top: 50px;
}

.signup a {
  color: #3498db;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

.boton {
font-family: 'Architects Daughter';
}